{% extends 'base.html' %}
{% load static %}

 
  {% block contents %}
    <!--=========== BEGIN ABOUT US BANNER SECTION ================-->
   
    <section id="courseArchive">
      <div class="container">
        <div class="row">
			<!-- Start about us area -->
				<div class="col-lg-8 col-md-8 col-sm-8">
				<div class="row">
					<div class="col-lg-12 col-12 col-sm-12">
					<div class="academics_area wow fadeInLeft">
						<!-- Vice Chancellors message  -->
						<h2 class="titile">News from betterplace.org</h2>
						<div class="single_blog">
							<div class="blogimg_container">	
								<figure class="blog_img">
									<img alt="img" src="{% static 'img/7.jpg' %}">
								</figure>
								<br/>
							</div>	
								<div>
									<h3><strong>Relief Action for Uganda</strong></h3>
									<p align="justify" style="text-align:justify">betterplace.org matches new recurring donations toward aid organizations providing humanitarian relief in Uganda between March 12 and 31.</p>
									<h3><strong>Open letter from our management board</strong></h3>
									<p align="justify" style="text-align:justify">Dear friends, users and partners of betterplace.org, this year, betterplace.org celebrates its tenth anniversary.</p>
									
									<h3><strong>Important changes at betterplace.org</strong></h3>
									<p align="justify" style="text-align:justify">As of December 1st, 2016, certain changes will take effect at betterplace.org. From that date and onwards, the right to collect donations will only be restricted to online platform.</p>                                    
                                    <h4><strong>New option for the volunteer programs</strong></h4>
									<p align="justify" style="text-align:justify">The betterplace.org offer for volunteering has changed. In order to improve our quality, only current and active volunteering offers are now online.</p><br>
                                    <h3><strong>What changes</strong></h3><br><h4><strong> Explicit dates </strong></h4>
                                    <p align="justify" style="text-align:justify">While setting up a project for volunteering you can now choose between three different possibilites</p>
                                    <ul>
                                    <li>"any time / by arrangement"</li>
                                    <li>"regularly / long-term"</li>
                                    <li>"at a certain time / at a certain period of time"</li>
                                    </ul>
                                    <p align="justify" style="text-align:justify">The last option allows you to look for a volunteer at a certain date or time. You're organising a summer fair and need a motivated supporter for this day? A volunteer search with a precise date will be deactivated when the date has elapsed. But dont worry: You will be informed via email and you can immediately edit, update and activate you page.</p>
                                    <br><p><b>From now and  onwards volunteer projects have a duration of six month.</b></p>
                                    <p>The search for permanent volunteer changes, too: After six months, we will ask you via email if the seaches are still up to date. In that case you can easily decide on with one click if you want to maintain, update or deactivate your search. Maybe you already have found a volunteer with betterplace.org</p>
								</div>						
						</div>
					</div>
					</div>
				</div>
            </div>
          </div>
          <!-- start course archive sidebar -->
        </div>
      </div>
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->

    {% endblock contents %}
    
   