{% extends 'base.html' %}
{% load static %}

 
  {% block contents %}
    <!--=========== BEGIN ABOUT US BANNER SECTION ================-->
   
    <section id="courseArchive">
      <div class="container">
        <div class="row">
			 <!-- Start about us area -->
				<div class="col-lg-8 col-md-8 col-sm-8">
				<div class="row">
					<div class="col-lg-12 col-12 col-sm-12">
					<div class="Discovery_area wow fadeInLeft">
						<!-- Jobs description  -->
						<h2 class="titile">Current job offers</h2>
						<div class="single_blog">
							<div class="blogimg_container">	
								  <figure class="blog_img">
									  <img alt="img" src="{% static 'img/Jobseite_Grossraumbuero.jpg' %}">
								  </figure><br/>
						  </div>	
						    
              <div>
									<h3><b>Donor Relations</b></h3>
                  <a href="https://www.betterplace.org/c/stellen/emailmarketingmanagerin">Online Marketing Manager with a focus on email marketing</a>									
									<h3><b>Brand & PR</b></h4>
                  <a href="https://www.betterplace.org/c/stellen/PRmanagerin">PR Manager</a>									
									<h3><b>Development </b></h3>
                  <a href="https://www.betterplace.org/c/stellen/platformengineer">Platform Engineer</a>                                    
                  <h4><b>Recipient Relations</b></h3>
                  <a href="https://www.betterplace.org/c/stellen/contentcreationandmonitoring">Content Creation (with a focus on video) & Monitoring <br>Content Marketing Manager with a focus on online fundraising</a>									<p align="justify" style="text-align:justify">The betterplace.org offer for volunteering has changed. In order to improve our quality, only current and active volunteering offers are now online.</p><br>
                  <h3><b>Legal </b></h3>
                  <a href="https://www.betterplace.org/c/stellen/legalcounsel">Junior Legal Counsel</a><br>
                  <h3><b>What's waiting for you</b></h3>
                  <img class="media-object" src="{% static 'img/Jobseite_AnspruchsvolleAufg.png' %}" alt="img">
                  <h4><b></b> responsible task that will make you grow.</b></h4>
                  <p align="justify" style="text-align:justify">More than 35,000 aid projects are active on our donation marketplace, which have already collected over 100 million euros in donations from individuals aand companies. A lot of good was done with this money - we are proud of that.</p>
                  <img class="media-object" src="{% static 'img/KolleginnenWeiterentwickeln_Jobseite.jpg' %}" alt="img">
                  <h4><b>Colleagues wiyh whom you develop further and whom you develop further through you </b></h4>
                  <p align="justify" style="text-align:justify">This works above all because we do it together and because we have fun doing it - in regular retrospectives, with organized knowledge sharing and honest feedback, through targeted further training and at team events</p>
                  <img class="media-object" src="{% static 'img/spreewalker_insta.jpg' %}" alt="img">
                  <h4><b>Good mood, open ears- open doors anyway, because of the open-plan office - and room for personal initiative.</b></h4>
                  <p align="justify" style="text-align:justify">Whether you think the next team breakfast should be vegan, you want to help shape our value compass, or you need help from an expert who is easy to find through all networks.</p>
                  <h3><b>who we are</b></h3>
                  <p align="justify" style="text-align:justify"><b>A greate bunch of around 50 people and four dogs. And we really like each Other!</b></p>
                  <img class="media-object" src="{% static 'img/roteshirts_insta.jpg' %}" alt="img">
                  <img class="media-object" src="{% static 'img/pimpyourwater_insta.jpg' %}" alt="img">
             </div>						
						</div>
					</div>
					</div>
				</div>
			  

            </div>
          </div>
          <!-- start course archive sidebar -->
        </div>
      </div>
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->

    {% endblock contents %}
    
   