{% extends 'base.html' %}
{% load static %}

 
  {% block contents %}
    <!--=========== BEGIN ABOUT US BANNER SECTION ================-->
   
    <section id="courseArchive">
      <div class="container">
        <div class="row">
			<!-- Start about us area -->
				<div class="col-lg-8 col-md-8 col-sm-8">
				<div class="row">
					<div class="col-lg-12 col-12 col-sm-12">
					<div class="academics_area wow fadeInLeft">
						<!-- Press Contact  -->
						<h2 class="titile">Press</h2>
						<div class="single_blog">
							<div class="blogimg_container">	
								<figure class="blog_img">
									<img alt="img" src="{% static 'img/Jobseite_Grossraumbuero.jpg' %}">
								    <figcaption><br><h3><strong><center>Press Area</center> </strong></h3></figcaption>
								</figure><br/>
						    </div>	
								<div>
									<h3><strong>Betterplace.org</strong></h3>
									<ul>
									    <li><a href="https://content-medien.betterplace.org/c/medien/Uploads-Presse/betterplace_twopager_2021.pdf">Info Sheet: Betterplace.org at a glance </a></li>
									    <li><a href="https://www.betterplace.org/c/unser-team">The Team: Who is behind Betterplace.org</a></li> 
									</ul><br>
									<h3><strong>Information to Download</strong></h3>
									<ul>
										<li><a href="https://www.betterplace.org/c/medien/pressemitteilungen">Press releases</a></li>
										<li><a href="https://www.betterplace.org/c/medien/geschaeftsberichte">business reports</a></li>
                                        <li><a href="https://www.betterplace.org/c/medien/logo-download">Logo download</a></li>
									</ul>
									<h3>Information and links to the betterplace family</h3>
                                    <br><h4>gut.org gAG</h4>
									<ul>
                                       <li><a href="https://www.betterplace.org/c/ueber-uns/gut-org">The gut.org gAG is our bracket, builds networks, creates synergies, develops busiiness areas, drives punblic discourse.</a></li>
									</ul>
                                    <br><h5>Betterplace.me</h5>
									<ul>
										<li><a href="https://www.betterplace.me/">Click here for our subsidiary Platform for private engagement</a></li>
										<li><a href="https://www.betterplace.org/c/medien/files/2022/betterplace_me_Infoblatt_2022.pdf">Info Sheet: Betterplace.me</a></li>
									</ul>
									<br><h4>Betterplace academy</h4>
									<ul>
										<li><a href="https://www.betterplace-academy.org/">Click here for our online learning platform</a></li>
										<li><a href="https://www.betterplace.org/c/medien/Uploads-Presse/betterplace-academy-infoblatt-2022.pdf">Info sheet: betterplace academy</a></li>
									</ul>
									<br><h4>betterplace lab</h4>
									<ul>
										<li><a href="https://www.betterplace-lab.org/">Click here for our digital-social think-and-do-tank</a></li>
									</ul>
									<br><h4>Betterplace Contact</h4>
									<ul>
										<a href="mailto:press@betterplace.org">press@betterplace.org</a>									
									</ul>									
									
								</div>						
					   </div>
				</div>
              <!-- End single sidebar -->

            </div>
          </div>
          <!-- start course archive sidebar -->
        </div>
      </div>
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->

    {% endblock contents %}
    
   