{% extends 'base.html' %}
{% load static %}

 
  {% block contents %}
    <!--=========== BEGIN ABOUT US BANNER SECTION ================-->
   
    <section id="courseArchive">
      <div class="container">
        <div class="row">
			<!-- Start about us area -->
				<div class="col-lg-8 col-md-8 col-sm-8">
				<div class="row">
					<div class="col-lg-12 col-12 col-sm-12">
					<div class="academics_area wow fadeInLeft">
						<!-- Vice Chancellors message  -->
						<h2 class="titile">Support betterplace.org</h2>
						<div class="single_blog">
							<div class="blogimg_container">	
								<figure class="blog_img">
									<img alt="img" src="{% static 'img/7.jpg' %}">
								</figure>
								<br/>
							</div>	
								<div>
									<h3><strong>Why we are good!! </strong></h3><br><h4><strong>For donors</strong></h4><br><h5><strong>Transparency</strong></h6>
									<p align="justify" style="text-align:justify">All organizations are requested to demonstrate a high level of transparency by providing detailed donation requests as well as proof of how donations are being used. They also report about the progress of their project via photo and video.</p>
									<h5><strong>Security </strong> </h5>
									<p align="justify" style="text-align:justify">Donations made through betterplace.org are secure. Listed projects are registered as charitable, reviewed by us, and can be rated publically.</p>
									
                                    <h5><strong>Diversity</strong></h5>
									<p align="justify" style="text-align:justify">On betterplace.org, more than 20,000 projects from all over the world collect donations: These range from children's aid, environment or animal protection to education, or development aid projects.</p>
                                    
                                    <h4><strong>For organizations</strong></h4><br><h5><strong>More Donations</strong></h5>
									<p align="justify" style="text-align:justify">We offer organizations broader reach by providing market marketing campaigns, partner portals, and additional donations through our corporate partner solutions. Moreover, donors can set up permanent donations.</p><br>
                                    <h5><strong>Non-Profit Status</strong></h5>
                                    <p align="justify" style="text-align:justify">betterplace.org is charitable and non-profit itself. We give our all for our social projects.</p>
                                     <h5><strong>More Knowledge</strong></h5>
                                    <p align="justify" style="text-align:justify">Our team provides you with free and individual fundraiing counselling via online tutorials, by mail and on the phone.</p>
                                    
                                </div>						
						</div>
					</div>
					</div>
				</div>
            </div>
          </div>
          <!-- start course archive sidebar -->
        </div>
      </div>
    </section>
    <!--=========== END COURSE BANNER SECTION ================-->

    {% endblock contents %}
    
   